<?xml version="1.0"?>
<launch>
  <arg name="use_rds" default="false"/>

  <group unless="$(arg use_rds)">
    <include file="$(find kuka_kr6_support)/launch/load_kr6r900sixx.launch"/>
  </group>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
